version: '3.1'

services:
  monitoring:
    container_name: monitoring
    build:
      context: .
      dockerfile: Dockerfile-monitoring
    image: monitoring
    volumes:
    - "/prometheus-data:/prometheus-data"
    networks:
      website_rp_monitoring:
         aliases:
           - ${WEBSITE_DNS}

  reverse_proxy_monitoring:
    depends_on:
      - monitoring
    image: nginx
    ports:
      - "4443:443"
    volumes:
      - ${RP_MONITORING_VOLUME}:/etc/nginx/conf.d
    networks:
      - website_rp_monitoring

networks:
  website_rp_monitoring:
    driver: bridge